
# Ignorar todas las imágenes
OpenCV/**/*.bmp
OpenCV/**/*.png
OpenCV/**/*.tif

# Ignorar archivos compilados de Python
OpenCV/**/*.pyc

# Ignorar los archivos de construcción para LaTeX y el pdf
memoria/**/*.aux
memoria/**/*.ilg
memoria/**/*.ind
memoria/**/*.gz
memoria/**/*.toc
memoria/**/*.log
memoria/**/*.pdf

# Ignorar archivos de respaldo de Emacs
\#*\#
