
# Ignorar todas las imágenes
OpenCV/**/*.bmp
OpenCV/**/*.png
OpenCV/**/*.tif

# Ignorar archivos compilados de Python
OpenCV/**/*.pyc

# Ignorar los archivos de construcción para LaTeX y el pdf
memoria/**/*.aux
memoria/**/*.out
memoria/**/*.ilg
memoria/**/*.ind
memoria/**/*.gz
memoria/**/*.toc
memoria/**/*.log
memoria/**/*.glg
memoria/**/*.glo
memoria/**/*.gls
memoria/**/*.glx
memoria/**/*.ist
memoria/**/*.xdy
memoria/**/*.dvi
memoria/**/*.gxg
memoria/**/*.gxs
memoria/**/*.acn
memoria/**/*.acr
memoria/**/*.alg
memoria/**/*.bbl
memoria/**/*.blg
memoria/**/*fdb_latexmk
memoria/**/*.fls
memoria/_minted-memoria
memoria/memoria.pdf

# Ignorar archivos de respaldo de Emacs
\#*\#
\.#*
memoria/**/*.el
memoria/**/_region_.tex